@font-face{
	font-family: sourcesans;
	src:url(D:\Para Programa\Udemy Cursos\JavaScript\Royal HI\Fuentes\Source\SourceSerifPro-Bold.ttf);
}
@font-face{
	font-family: quattrocento;
	src:url(D:\Para Programa\Udemy Cursos\JavaScript\Royal HI\Fuentes\Quattro\Quattrocento-Regular.ttf);
}